.digit{
    width: 50px;
    height: 50px;
    background-color: #180f06;
    color: #edd33b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0px;
    border-radius: 5px;
}