.App {
  text-align: center;
  padding: 20px;
}

.mode-indecator {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.mode-indicator.decimal {
  background-color: #007bff;
  color: white;
}

.mode-indecator.hex {
  background-color: #28a745;
  color: white;
}

.mode-switch {
  margin-bottom: 20px;
}

.wheels {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.wheel {
  margin: 0 10px;
  transition: transform 0.5s;
}

.wheel:active {
  transform: scale(1.1);
  border: 2px solid #007bff;
}

.decimal-mode, .hex-mode {
  margin: 20px;
  font-size: 1.2em;
}

.display-bar {
  margin: 20px;
  font-size: 1.5em;
}

.color-preview {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-weight: bold;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 1em;
}
