.App {
  text-align: center;
  padding: 20px;
}

.mode-indecator {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.mode-indicator.decimal {
  background-color: #007bff;
  color: white;
}

.mode-indecator.hex {
  background-color: #28a745;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e999;
  transition: 0.4s;
  border-radius: 34px;
} */

/* .slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: beige;
  transition: 0.4s;
  border-radius: 50%;
} */

/* input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
} */

.mode-switch {
  align-items: center;
  gap: 10px;
}

.mode-switch-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.wheels {
  display: flex;
  justify-content: center;
  margin: 20px;
  transition: opacity 0.5s ease;
}

.wheels.resseting {
  opacity: 0,5;
}

.wheel {
  margin: 0 10px;
  transition: transform 0.5s;
}

.wheel:active {
  transform: scale(1.1);
  border: 2px solid #007bff;
}

.decimal-mode, .hex-mode {
  margin: 20px;
  font-size: 1.2em;
}

.display-bar {
  margin: 20px;
  font-size: 1.5em;
}

.color-preview {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-weight: bold;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 1em;
}
